/* 公共样式 */
.fColor {
	color: pink;
}

.bg {
	background: #42b7f8;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
	display: none;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none;
	background: transparent;
}

.scroll-item {
	display: inline-block
}

.scroll-box {
	white-space: nowrap
}

.ft-color {
	color: #636263;
}
